<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorSample</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
	<ul class="nav flex-column">
		<NavItem title="Home" icon="home" match="NavLinkMatch.All" />
		<NavItem title="Counter" icon="plus" href="counter" />
		<NavItem title="Fetch data" icon="list-rich" href="fetchdata" />
		<NavItem title="To Do List" icon="list-rich" href="todopage" />
	</ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
